<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to PokeClub</title>
  </head>
  <body>
    <h1>
      Welcome to PokeClub, Please Sign up to be a member of our pokemon
      community.
    </h1>
    <form action="/" method="post">
      <!-- Username field -->
      <label for="username">Enter a username: </label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Ex. John Doe"
        required
        maxlength="30"
        min="3"
      />
      <!-- Password field -->
      <label for="Password">Enter a password: </label>
      <input
        type="password"
        name="password"
        id="password"
        required
      />

      <button type="submit">Sign up</button>

      <div id="login-section">
        <p>Already have an account?</p>
        <a href="/log-in">Login</a>
      </div>
    </form>
  </body>
</html>
